# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
yarn.lock
package-lock.json
.prettierrc
.linaria-cache/
