.at-tabs {
  &__header {
    background: #F5F7FD;
  }
  &__item {
    color: #5B5C73;
    font-size: 14px;
    text-align: center;
    font-family: SFProText-Bold;
    font-weight: 700;
    padding: 12px 16px;
    &--active {
      color: #062CFF;
      .at-tabs__item-underline {
        width: 40px;
        height: 4px;
        border-radius: 2px;
        background-color:#062CFF;
        transform: translate(-50%);
        left: 50%;
        bottom: 6px;
      }
    }
  }
}