.address-picker-container {
  position: fixed;

  bottom: 0rpx;

  left: 0rpx;

  z-index: 999;

  display: flex;

  visibility: hidden;

  align-items: center;

  flex-direction: column;

  justify-content: center;

  width: 100%;

  height: 100vh;

  background: rgba(0, 0, 0, 0.7);

  &.show {
    visibility: visible;

    .picker-content {
      transition: all 0.4s ease;

      transform: translateY(0);
    }
  }
}

.picker-content {
  position: absolute;

  bottom: 0;

  width: 100%;

  background-color: #fff;

  transition: all 0.4s ease;

  transform: translateY(150%);

  .picker-view-wrap {
    width: 100%;

    height: 400rpx;
  }
}

.picker-item {
  text-align: center;

  font-size: 36rpx;

  line-height: 70rpx;
}

.dialog-header {
  display: flex;

  align-items: center;

  justify-content: space-between;

  width: 100%;

  background: #ededed;

  .dialog-title {
    color: #333;
  }

  .dialog-button {
    display: inline-block;

    padding: 30rpx;

    color: #e28e81;

    text-align: center;

    font-size: 32rpx;

    &.cancel {
      color: #666;
    }
  }
}
